altgraph==0.17
astroid==2.3.3
autopep8==1.4.4
colorama==0.4.3
future==0.18.2
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.1
pefile==2019.4.18
pep8==1.7.1
pycodestyle==2.5.0
pydocstyle==5.0.1
PyInstaller==3.6
pylint==2.4.4
pywin32-ctypes==0.2.0
scipy==1.10.0
six==1.14.0
snowballstemmer==2.0.0
typed-ast==1.4.1
wrapt==1.11.2
